/* genegal */
body{
	margin:0;
	color:#336697;
	font:13px/18px Tahima, Arial, Helvetica, sans-serif;
	background:#fff;
	min-width:980px;
}
img{border-style:none;}
a{text-decoration:none; color:#daae04;}
a:hover{text-decoration:underline;}
input,
textarea,
select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
q{quotes:none;}
q:before{content:''}
q:after{content:''}
#wrapper{
	width:980px;
	margin:0 auto;
}
/* header */
#header{
	height:85px;
	position:relative;
	z-index:100;
}
#header:after{
	content:'';	display:block;	clear:both;
}
.logo{
	float:left;
	display:inline;
	margin:14px 0 0 10px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/logo.gif) no-repeat;
	width:175px;
	height:64px;
}
.logo a{
	display:block;
	height:100%;
}
#nav{
	float:right;
	padding:0 13px 0 0;	margin:35px 0 0;
	position:relative;	list-style:none;
	font:18px/30px 'Trebuchet MS', Arial, sans-serif;
}
#nav li{
	float:left;
	padding:0 0 0 11px;
}
#nav a{
	float:left;
	height:30px;
	color:#336697;
	text-decoration:none;
	padding:0 10px;
}
#nav li:hover a,
#nav li.hover a,
#nav .active a,
#nav a:hover{
	text-decoration:none;
	background:#336697;
	color:#fff;
}
#nav ul{
	position:absolute;
	top:30px;
	left:0;
	float:none;
	width:100%;
	padding:0;	margin:0;	list-style:none;
	display:none;
	z-index:101;
}
#nav li:hover ul,
#nav li.hover ul{display:block;}

#nav ul li{
	background:#33c5f3;
	padding:0;
}
#nav li:hover ul a,
#nav li.hover ul a,
#nav ul a{
	background:none;
	color:#336697;
}
#nav ul li:hover a,
#nav ul li.hover a,
#nav ul a:hover{
	color:#fff;
	background:none;
}
/* main */
#main{
	height:1%;
	padding:15px 8px 0 0;
}
.home #main{padding:0 10px 0 0;}
.main-holder{width:100%;}
.main-holder:after{
	content:'';	display:block;	clear:both;
}
/* visual */
.visual{
	width:960px;
	margin:0 -10px 19px 10px;
	position:relative;
	background:url(../images/bg-visual.gif) no-repeat 0 100%;
	padding:0 0 32px;
}
.visual img{vertical-align:top;}
.search-form{
	position:absolute;
	left:0;
	bottom:32px;
}
.search-form .holder{
	background:url(../images/bg-search.png) no-repeat;
	width:507px;
	height:63px;
	overflow:hidden;
	padding:64px 0 0 16px;
}
.search-form .frame{
	width:100%;
	position:relative;
}
.search-form .row{
	width:100%;
	overflow:hidden;
}
.search-form .text{
	float:left;
	background:#fff;
	height:36px;
}
.search-form .text input{
	float:left;
	background:none;
	border:0;
	padding:7px 13px;
	width:276px;
	color:#cdcdcd;
	font-size:18px;
	line-height:normal;
	margin:0;
}
.search-form .btn-go{
	background:url(../images/btn-go.gif) no-repeat;
	width:45px;
	height:36px;
	overflow:hidden;
	padding:0;
	text-align:left;
	text-indent:-9999px;
	font-size:0;
	line-height:0;
	border:0;
	cursor:pointer;
	float:left;
	margin:0;
}
.search-form .btn-go-hover,
.search-form .btn-go:hover{background-position:0 -36px;}
.search-form ul{
	padding:0;	margin:0;	list-style:none;
	width:100%;
	overflow:hidden;
	text-transform:uppercase;
	font:bold 16px/27px 'Trebuchet MS', Arial, sans-serif;
}
.search-form ul li{float:left;}
.search-form ul a{
	float:left;
	color:#fff;
	padding:0 12px;
}
.search-form ul .active a,
.search-form ul a:hover{
	text-decoration:none;
	background:#f88529;
}
.btn-get{
	position:absolute;
	right:-9px;
	top:64px;
	height:46px;
	overflow:hidden;
	font:19px/24px 'Trebuchet MS', Arial, sans-serif;
	color:#daae04;
	text-align:center;
	text-transform:uppercase;
	word-spacing:-2px;
	cursor:pointer;
}
.btn-get span{
	float:left;
	background:url(../images/btn-get.png) no-repeat;
	width:138px;
	height:78px;
	padding:9px 0 0 2px;
}
.btn-get:hover{
	border:none;
	text-decoration:none;
	color:#aedb58;
}
.btn-get:hover span{
	margin:-46px 0 0;
	padding:55px 0 0 2px;
	height:32px;
}
/* content */
#content{
	float:left;
	width:728px;
	padding:0 0 0 10px;
}
.home #content{
	width:740px;
	padding:0 0 0 10px
}
/* two-cols */
.two-cols{
	width:100%;
	margin:0 0 8px;
	background:url(../images/bg-two-cols.gif) repeat-y -740px 0;
}
.two-cols .holder{
	background:url(../images/bg-two-cols.gif) no-repeat;
	width:100%;
}
.two-cols .frame{
	height:1%;
	background:url(../images/bg-two-cols.gif) no-repeat -1480px 100%;
	padding:0 0 25px
}
.two-cols .frame:after{
	content:'';	display:block;	clear:both;
}
.two-cols .col-1{
	float:left;
	width:263px;
	display:inline;
	margin:0 24px 0 0;
}
.two-cols .col-2{
	float:left;
	width:434px;
}
.heading{
	height:53px;
	position:relative;
	margin:0 0 0 -10px;
	padding:0 0 0 10px;
	background:url(../images/bg-heading-l.gif) no-repeat;
	color:#fff;
}
.heading:after{
	content:'';	display:block;	clear:both;
}
.heading .arrow{
	float:left;
	background:url(../images/bg-heading-r.gif) no-repeat 100% 0;
	padding:0 15px 0 10px; 
}
.heading h2{
	font:19px/42px 'Trebuchet MS', Arial, sans-serif;
	margin:0;
	float:left;
}
.heading .arrow span{
	height:1px;
	float:left;
	width:177px;
	overflow:hidden;
	clear:both;
}
.two-cols .heading .more{
	float:left;
	background:url(../images/bg-more.gif) no-repeat;
	width:143px;
	height:43px;
	overflow:hidden;
	text-align:center;
	font:19px/42px 'Trebuchet MS', Arial, sans-serif;
	color:#daae04;
	text-transform:uppercase;
	margin:0 0 0 -6px;
}
.two-cols .heading .more:hover{
	text-decoration:none;
	color:#aedb58;
	background-position:0 -43px;
}
.two-cols .content{
	padding:0 13px 0 17px;
}
.featured-listing{padding:2px 0 0 2px;}
.featured-listing .sub-title{margin:0 0 16px;}
.featured-listing .alignleft{
	border:2px solid #a7a7a7;
	float:left;
	margin:2px 17px 0 2px;
}
.latest-blog{padding:5px 0 14px 1px;}
.latest-blog .alignleft{
	float:left;
	margin:3px 19px 0 0;
}
.latest-blog .links{
	padding:0;	margin:-3px 0 0;	list-style:none;
}
.latest-blog .links li{
	display:inline;
	background:url(../images/split1.gif) no-repeat 0 65%;
	padding:0 5px 0 10px;
}
.latest-blog .links li:first-child,
.latest-blog .links li.first-child{
	background:none;
	padding-left:0;
}
.latest-blog .links a{color:#daae04;}
.two-cols h3{
	font-size:18px;
	line-height:20px;
	color:#f06721;
	margin:0 0 2px;
}
.two-cols .sub-title{
	display:block;
	color:#f06721;
	line-height:20px;
	font-weight:normal;
}
.two-cols .date{
	font-size:12px;
	display:block;
	color:#bcbcbc;
	line-height:20px;
	font-style:normal;
	margin:0 0 9px;
}
p{margin:0 0 18px;}
.venues-list{
	width:100%;
	padding:0;	margin:6px 0 0;	list-style:none;
	overflow:hidden;
	line-height:0;
	font-size:0;
	color:#f06721;
}
.venues-list li{
	width:100%;
	float:left;
	padding:0 0 19px;
	vertical-align:middle;
}
.venues-list .photo{
	display:inline-block;
	vertical-align:middle;
	padding:0 12px 0 0;
}
.venues-list .photo img{
	vertical-align:top;
	border:2px solid #a7a7a7;
}
.venues-list .desc{
	display:inline-block;
	vertical-align:middle;
	font-size:13px;
	line-height:20px;
}
.venues-list .desc .title{
	display:block;
	line-height:18px;
	font-size:14px;
}
.venues-list .desc .title a{color:#f06721;}
.venues-list .desc p{margin:0;}
.venues-list-popular{
	padding:2px 0 5px;	margin:0 -10px 0 -4px;	list-style:none;
	width:410px;
	overflow:hidden;
	vertical-align:top;
	color:#f06721;
	font-size:0;
	line-height:0;
}
.venues-list-popular li{
	display:inline-block;
	vertical-align:top;
	text-align:center;
	width:130px;
	padding:0 3px 8px;
}
.venues-list-popular img{vertical-align:top;}
.venues-list-popular .stars{padding:0 0 7px;}
.venues-list-popular .photo img{border:2px solid #a7a7a7;}
.venues-list-popular .desc{
	font-size:13px;
	line-height:17px;
	padding:4px 0 0;
}
.venues-list-popular .title{
	display:block;
	font-size:14px;
}
.venues-list-popular .title a{color:#f06721;}
.venues-list-popular p{margin:0;}
/* sidebar */
#sidebar{
	float:right;
	width:221px;
	padding:4px 0 0;
}
.home #sidebar{
	width:209px;
	padding:0;
}
/* google */
.google{margin:0 0 38px;}
.google img{vertical-align:top;}
/* twitter */
.twitter{
	background:url(../images/bg-side-shadow.gif) no-repeat 50% 100%;
	padding:0 0 22px;
}
.twitter .headline{
	height:1%;
	overflow:hidden;
	margin:0 0 14px;
}
.twitter .headline .logo2{
	background:url(../images/logo2.gif) no-repeat;
	width:120px;
	height:44px;
	text-indent:-9999px;
	overflow:hidden;
	float:left;
	margin:0 14px 0 0;
}
.twitter .headline h2{
	margin:0;
	padding:2px 0 0;
	font:18px/20px 'Trebuchet MS', Arial, sans-serif;
}
.twitter img{vertical-align:top;}
/* footer */
#footer{
	background:#e5e5e5 url(../images/bg-footer.gif) repeat-x;
	height:84px;
	padding:91px 32px 0 30px;
	overflow:hidden;
	width:898px;
	margin:-8px auto 0;
	line-height:16px;
	font-size:12px;
}
#footer .links{float:right;}
#footer .links ul{
	float:left;
	padding:20px 29px 0 0;	margin:0;	list-style:none;
	text-transform:uppercase;
}
#footer .links ul li{
	float:left;
	padding:0 0 0 18px;
}
#footer .links ul a{color:#d6ac24;}
#footer .links ul img{vertical-align:top;}
#footer .links ul.socials{padding:0;}
#footer .links ul.socials li{padding:0 0 0 8px;}
#footer p{
	margin:0;
	padding:20px 0 0;
}
/* three-cols */
.three-cols{
	background:url(../images/bg-three-cols.gif) repeat-y -728px 0;
}
.three-cols .holder{
	background:url(../images/bg-three-cols.gif) no-repeat;
}
.three-cols .frame{
	background:url(../images/bg-three-cols.gif) no-repeat -1456px 100%;
	width:747px;
	margin:0 -19px 8px 0;
	padding:0 0 20px;
}
.three-cols .frame:after,
.three-cols:after{
	content:'';	display:block;	clear:both;
}
.three-cols .col{
	width:230px;
	float:left;
	display:inline;
	margin:0 19px 0 0;
}
.three-cols .content{
	padding:8px 0 0 13px;
}
.reviews .item{
	height:1%;
	overflow:hidden;
	padding:0 10px 16px 0;
	font-size:14px;
}
.reviews .headline{
	margin:0 0 6px;
	width:100%;
	vertical-align:middle;
	font-size:0;
	line-height:0;
}
.reviews .headline .photo{
	display:inline-block;
	width:73px;
	vertical-align:middle;
}
.reviews .headline .photo img{
	vertical-align:top;
	border:2px solid #a7a7a7;
}
.reviews .headline .hold{
	vertical-align:middle;
	display:inline-block;
	line-height:18px;
	font-size:14px;
	width:133px;
}
.reviews .headline h3{
	margin:0;
	font-size:14px;
	color:#f06721;
}
.reviews .headline h3 a{color:#f06721;}
.reviews .headline .author{
	font-weight:normal;
	color:#acacac;
	display:block;
	padding:0 0 3px;
}
.reviews .item p{margin:0 0 2px;}
.reviews .tags{
	font-size:10px;
	color:#daae04;
}
.reviews .tags span{color:#acacac;}
.three-cols .venues-list{margin:0 0 -3px;}
.three-cols .venues-list .photo{
	width:67px;
	padding:0;
}
.three-cols .venues-list .desc{width:148px;}
.three-cols .venues-list .stars{
	padding:0 0 4px 4px;
}
.three-cols .venues-list .stars img{display:block;}
/* ad list */
.ad-list{
	width:100%;
	background:url(../images/bg-side-shadow.gif) no-repeat 50% 100%;
	padding:0 0 10px;
}
.ad-list .item{padding:0 0 12px;}
.ad-list img{vertical-align:top;}
/* four cols */
.four-cols{
	width:962px;
	margin:0 0 13px 10px;
	background:url(../images/bg-four-cols.gif) repeat-y -962px 0;
}
.four-cols .holder{background:url(../images/bg-four-cols.gif) no-repeat;}
.four-cols .frame{
	background:url(../images/bg-four-cols.gif) no-repeat -1924px 100%;
	width:996px;
	margin:0 -34px 0 0;
	padding:0 0 22px;
}
.four-cols .frame:after{
	content:'';	display:block;	clear:both;
}
.four-cols .col{
	float:left;
	display:inline;
	margin:0 33px 0 0;
	width:216px;
}
.heading h2.long{font-size:17px;}
.four-cols .content{
	padding:0 10px 10px 15px;
	min-height:292px;
}
* html .four-cols .content{height:292px;}
.list{
	padding:0;	margin:0;	list-style:none;
	line-height:20px;
	font-size:14px;
}
.list li{
	background:url(../images/bullet.gif) no-repeat 0 7px;
	padding:0 0 0 10px;
}
.list li strong,
.list li strong a{color:#f06721;}
.list ul{
	padding:0 0 0 26px;	margin:0;	list-style:none;
}
.list ul li{
	padding:0;
	background:none;
}
/* ad-single */
.ad-single{
	background:url(../images/bg-content-shadow.gif) no-repeat 0 100%;
	padding:0 0 22px;
	margin:0 0 10px
}
.ad-single img{vertical-align:top;}
/* box */
.box{
	width:100%;
	margin:0 0 10px;
	background:#e9e9e9 url(../images/bg-box.gif) no-repeat;
}
.box .holder{
	background:url(../images/bg-box.gif) no-repeat -728px 100%;
	width:100%;
	padding:0 0 21px;
}
.box .content{
	padding:0 14px 8px 13px;
	font-size:15px;
	line-height:20px;
}
.box .heading .arrow span{width:193px;}
.comments{
	width:100%;
	padding:9px 0 0;
}
.comment{
	background:#fff url(../images/bg-comment.gif) no-repeat;
	padding:34px 23px 14px 22px;
	color:#f06721;
	margin:0 0 10px;
	font-size:13px;
	line-height:18px;
}
.comment .headline{
	height:1%;
	overflow:hidden;
	text-align:right;
	padding:0 4px 10px 0;
}
.comment .headline .author{float:left;}
.comment .headline .date{
	font-style:normal;
	font-weight:bold;
	color:#bebebe;
}
.comment p{margin:0 0 14px;}
.comment .rate{
	text-align:right;
}
.comment .rate img{
	vertical-align:baseline;
	position:relative;
	top:2px;
}
/* star-rating */
.star-rating {
	list-style:none;
	margin:0px;
	padding:0px;
	width:85px;
	height:17px;
	position:relative;
	background:url(../images/bg-rating.gif) repeat-x;
}
.star-rating li{float:left;}
.star-rating li a{
	display:block;
	width:17px;
	height:17px;
	text-decoration:none;
	text-indent:-9000px;
	z-index:2;
	position:absolute;
	padding:0px;
	overflow:hidden;
}

.star-rating li a:hover,
.star-rating li.active a{
	background:url(../images/bg-rating.gif) 0 100%;
	z-index:1;
	left:0px;
}
.star-rating a.one-star{left:0px;}
.star-rating a.one-star:hover,
.star-rating li.active a.one-star{width:17px;}
.star-rating a.two-stars{left:17px;}
.star-rating a.two-stars:hover,
.star-rating li.active a.two-stars{width:34px;}
.star-rating a.three-stars{left:34px;}
.star-rating a.three-stars:hover,
.star-rating li.active a.three-stars{width:51px;}
.star-rating a.four-stars{left:51px;}
.star-rating a.four-stars:hover,
.star-rating li.active a.four-stars{width:68px;}
.star-rating a.five-stars{left:68px;}
.star-rating a.five-stars:hover,
.star-rating li.active a.five-stars{width:85px;}
/* side-box */
.side-box{
	width:219px;
	background:#e9e9e9 url(../images/bg-side-shadow.gif) no-repeat 50% 100%;
	padding:0 0 22px;
	margin:0 0 12px;
}
.side-box .headline{
	background:#f06720 url(../images/bg-headline.gif) repeat-x;
	color:#fff;
	padding:0 9px;
}
.side-box .headline h3{
	font-size:13px;
	margin:0;
	line-height:23px;
}
.cat-list{
	padding:1px 10px 15px 15px;	margin:0;
	height:1%;	list-style:none;
	color:#f06721;
}
.cat-list li{
	background:url(../images/bullet.gif) no-repeat 0 11px;
	padding:5px 0 0 10px;
}
.cat-list a{color:#f06721;}
.cat-list ul{
	padding:0 0 0 25px;	margin:0;	list-style:none;
}
.cat-list ul li{
	background:none;
	padding-left:0;
}
/* article */
.article{
	font-size:15px;
	line-height:20px;
	padding:19px 4px 14px 2px;
}
.article h3{
	color:#f06721;
	font-size:18px;
	line-height:20px;
	margin:0 0 5px;
}
.article .date{
	color:#bcbcbc;
	display:block;
	font-style:normal;
	margin:0 0 19px;
}
.article p{margin:0 0 20px;}
.article .share-hold{
	height:1%;
	padding:6px 0 0;
}
.btn-share{
	background:url(../images/btn-share.gif) no-repeat;
	width:201px;
	height:36px;
	padding:10px 0 0 13px;
}
.article .btn-share{margin:0 0 0 auto;}
.btn-share:hover,
.btn-share.hover{
	background-position:0 -46px !important;
}
.btn-share ul{
	float:left;
	padding:0;	margin:0;	list-style:none;
}
.btn-share ul li{
	float:left;
	padding:0 6px 0 0;
}
.btn-share ul img{vertical-align:top;}
.btn-share a{
	float:left;
	color:#daae04;
	font:bold 16px/25px 'Trebuchet MS', Arial, sans-serif;
}
.btn-share:hover a,
.btn-share.hover a,
.btn-share a:hover{
	text-decoration:none;
	color:#add960;
}
/* ad */
.ad{margin:-4px 0 22px;}
.ad img{vertical-align:top;}
/* buy-now */
.buy-now{
	font-size:15px;
	line-height:20px;
	padding:18px 3px 13px 2px;
}
.buy-now dl{
	width:100%;
	overflow:hidden;
	margin:0 0 10px;
	padding:3px 0 0;
}
.buy-now dl dt{
	float:left;
	font-weight:bold;
	clear:left;
	color:#f06721;
}
.buy-now dl dd{margin:0 0 0 107px;}
.btn-buy{
	background:url(../images/btn-buy.gif) no-repeat;
	width:160px;
	padding:10px 0 0 134px;
	height:36px;
	color:#daae04;
	font:bold 16px/25px 'Trebuchet MS', Arial, sans-serif;
	display:block;
	margin:0 0 0 auto;
}
.btn-buy:hover{
	text-decoration:none;
	color:#add960;
	background-position:0 -46px;
}
/* add comment */
.add-comment{
	padding:2px 0 0;
	margin:0 0 35px;
	width:100%;
}
.add-comment .row{
	width:100%;
	overflow:hidden;
	padding:0 0 14px;
}
.add-comment .col-1{
	float:left;
	display:inline;
	margin:0 11px 0 0;
	width:345px;
}
.add-comment .col-2{
	float:left;
	width:345px;
}
.add-comment label{
	font-weight:bold;
	display:block;
	padding:0 0 1px 2px;
	color:#f06721;
	font-size:13px;
}
.add-comment .text{
	float:left;
	width:335px;
	background:#fff;
	border:0;
	padding:6px 5px;
	color:#bcbcbc;
	font-size:13px;
	line-height:normal;
	font-weight:bold;
	margin:0;
}
.add-comment .textarea{
	background:#fff;
	width:701px;
	padding:5px 0 5px 5px;
	overflow:hidden;
}
.add-comment .textarea textarea{
	padding:0;
	color:#bcbcbc;
	font-size:13px;
	line-height:normal;
	font-weight:bold;
	margin:0;
	background:none;
	border:0;
	width:696px;
	max-width:696px;
	overflow:auto;
	height:156px;
	float:left;
}
.add-comment .form-submit{
	height:1%;
	overflow:hidden;
	padding:3px 11px 0;
}
.add-comment .btn-submit{
	float:right;
	margin:0;
	background:url(../images/btn-submit.gif) no-repeat;
	width:123px;
	height:46px;
	vertical-align:middle;
	text-align:center;
	font:19px/44px 'Trebuchet MS', Arial, sans-serif;
	overflow:hidden;
	color:#daae04;
	cursor:pointer;
	text-transform:uppercase;
	border:0;
	padding:0 0 2px;
}
.add-comment .btn-submit:hover,
.add-comment .btn-submit-hover{
	background-position:0 -46px;
	color:#add960;
}
.add-comment .rate{
	float:right;
	padding:14px 19px 0 0;
	font-size:13px;
	line-height:17px;
}
.add-comment .rate .label{
	float:left;
	color:#f06721;
	padding:0 7px 0 0;
}
.add-comment .rate .star-rating{float:left;}
/* profile */
.profile{
	height:1%;
	padding:0 0 22px 3px;
}
.profile:after{
	content:'';	display:block;	clear:both;
}
.profile .switch-nav{
	padding:0;	margin:-32px 0 0;	list-style:none;
	float:right;
	overflow:hidden;
	font-size:13px;
	line-height:18px;
	position:relative;
}
.profile .switch-nav li{
	float:left;
	background:url(../images/split1.gif) no-repeat 0 60%;
	padding:0 10px 0 11px;
	margin:0 1px 0 -1px;
}
.profile .prof-visual{
	height:1%;
	overflow:hidden;
	padding:5px 7px 0 0;
	margin:0 0 33px;
}
.profile .prof-visual .photo{float:left;}
.profile .prof-visual .photo img{
	vertical-align:top;
	border:2px solid #a7a7a7;
}
.profile .prof-visual .map{
	float:right;
	border:2px solid #a7a7a7;
}
.profile .prof-visual .map img{vertical-align:top;}
.profile .description{
	height:1%;
	overflow:hidden;
	font-size:13px;
	line-height:18px;
}
.profile .info{
	float:right;
	width:343px;
	padding:6px 4px 0 0;
}
.profile .info dl{
	background:#fff;
	margin:0 0 3px;
	padding:6px 11px 9px;
}
.profile .info dl dt{
	display:block;
	font-weight:bold;
	color:#336697;
}
.profile .info dl dd{
	margin:0;
	width:100%;
	overflow:hidden;
}
.profile .info ul{
	padding:0;	margin:0 0 0 -10px;	list-style:none;
	width:100%;
	overflow:hidden;
}
.profile .info ul li{
	float:left;
	background:url(../images/split1.gif) no-repeat 0 60%;
	padding:0 10px 0 11px;
}
.profile .text-col{
	float:left;
	width:320px;
}
.profile .contact{
	color:#f06721;
	font-size:16px;
	line-height:22px;
	margin:0 0 19px;
}
.profile .contact h3{
	font-size:16px;
	margin:0;
}
.profile .contact address{
	margin:0;
	font-style:normal;
}
.profile .contact dl{
	width:100%;
	overflow:hidden;
	margin:0;
}
.profile .contact dl dt{
	float:left;
	clear:left;
	padding:0 4px 0 0;
}
.profile .contact dl dd{margin:0;}
.profile .text-col h4{
	font-size:13px;
	margin:0;
}
.profile .text-col p{margin:0;}
/* nearby-list */
.nearby-list{
	padding:0;	margin:0;	list-style:none;
	width:100%;
	overflow:hidden;
	color:#f06721;
	line-height:17px;
}
.nearby-list a{color:#f06721;}
.nearby-list li{
	padding:7px 9px 10px;
	width:201px;
	float:left;
	background:none;
}
.nearby-list li.odd{background:#d8d8d8;}
.nearby-list p{margin:0;}
.nearby-list p span{
	background:url(../images/split2.gif) no-repeat 0 50%;
	padding:0 0 0 14px;
	margin:0 0 0 7px;
}
/* hours */
.hours{padding:0 0 4px;}
.hours table{
	width:100%;
	margin:0;
	border-collapse:collapse;
}
.hours table td{
	padding:2px 0 3px 9px;
	color:#f06721;
	vertical-align:middle;
	text-align:left;
}
.hours table thead td{
	font-weight:bold;
	color:#fff;
	background:#f06720 url(../images/bg-headline.gif) repeat-x;
}
.hours table .today td{font-weight:bold;}
.hours table td.td-1{width:63px;}
.hours table thead td.td-2{padding-left:26px;}
#sidebar .btn-share{
	margin:0 0 9px;
	background:url(../images/btn-share2.gif) no-repeat;
}
.btn{
	background:url(../images/btn-share2.gif) no-repeat;
	width:214px;
	height:46px;
	font:bold 15px/44px 'Trebuchet MS', Arial, sans-serif;
	overflow:hidden;
	color:#daae04;
	display:block;
	text-align:center;
	word-spacing:-1px;
	margin:0 0 9px;
}
.btn:hover{
	text-decoration:none;
	background-position:0 -46px;
	color:#add960;
}
/* bar */
.bar{
	background:#e9e9e9 url(../images/bg-box.gif) no-repeat;
	margin:0 0 10px;
	padding:0 0 2px;
	height:1%;
}
.bar dl{
	float:right;
	font-size:16px;
	color:#336697;
	margin:0;
	padding:21px 20px 0 0;
}
.bar dl dt{
	float:left;
	font-weight:bold;
	clear:left;
	padding:0 4px 0 0;
}
.bar dl dd{
	float:left;
	margin:0;
}
.bar .heading .arrow span{width:193px;}
.search-title .ad{margin:0 0 6px;}
.bar .sort{
	float:left;
	padding:15px 0 0 17px;
}
.bar .sort .item{
	float:left;
	display:inline;
	margin:0 13px 0 0;
	width:237px;
}
.bar .sort .item.hover,
.bar .sort .item:hover{position:relative;}
.bar .sort .item.hover .drop,
.bar .sort .item:hover .drop{display:block;}
.bar .sort .item-2{
	width:229px;
	margin:0;
}
.bar .sort .link{
	background:#fff url(../images/bg-sort-link.gif) no-repeat 100% 0;
	display:block;
	height:28px;
	padding:0 28px 0 9px;
	color:#336697;
	font-size:15px;
	line-height:28px;
}
.bar .sort .link:hover{text-decoration:none;}
.bar .sort .drop{
	position:absolute;
	left:0;
	top:28px;
	background:#fff;
	width:237px;
	display:none;
}
.bar .sort .item-2 .drop{width:229px;}
.bar .sort .drop ul{
	padding:0;	margin:0;	list-style:none;
	width:100%;
	overflow:hidden;
}
.bar .sort .drop ul li{
	float:left;
	width:100%;
	border-top:1px solid #ccc;
	margin:-1px 0 1px;
	padding:1px 0;
}
.bar .sort .drop ul a{
	color:#336697;
	padding:5px 9px;
	display:block;
	height:1%;
}
.bar .sort .drop ul a:hover{
	text-decoration:none;
	background:#eee;
}
/* results */
.results{
	width:100%;
	background:url(../images/bg-box.gif) no-repeat -728px 100%;
	padding:0 0 19px;
	margin:0 0 8px;
}
.results .item{
	margin:0 0 2px;
	background:#e9e9e9;
	height:1%;
	overflow:hidden;
	padding:12px 0 15px 18px;
	font-size:0;
	line-height:0;
	vertical-align:middle;
}
.results .item .stars{
	display:inline-block;
	width:109px;
	vertical-align:middle;
}
.results .item .star img{vertical-align:top;}
.results .item .info{
	display:inline-block;
	font-size:16px;
	line-height:22px;
	color:#f06721;
	width:350px;
	vertical-align:middle;
}
.results .item .info a{color:#f06721;}
.results .item .links{
	display:inline-block;
	font-size:13px;
	line-height:16px;
	vertical-align:middle;
	padding:0;	margin:0;	list-style:none;
	text-align:right;
	width:240px;
}
.results .item .links li{
	display:inline;
	background:url(../images/split1.gif) no-repeat 0 60%;
	padding:0 5px 0 11px;
}
.results .item .links li.first-child,
.results .item .links li:first-child{background:none;}
.map-large{
	padding:15px 0 4px;
	height:1%;
	margin:0 -3px 0 0;
}
.map-large img{vertical-align:top;}
/* main-item */
#content .results .main-item{
	padding:14px 14px 15px 18px;
	margin:0 0 11px;
}
#content .results .main-item .photo{
	float:right;
	display:inline;
	margin:0 0 0 15px;
}
#content .results .main-item .photo img{
	vertical-align:top;
	border:2px solid #a7a7a7;
}
#content .results .main-item .stars{
	display:block;
	margin:0 0 12px;
	padding:2px 0 0;
}
#content .results .main-item .info{
	display:block;
	height:1%;
	overflow:hidden;
}
#content .results .main-item .info address{
	font-style:normal;
	margin:0;
	display:block;
}
#content .results .main-item .info dl{
	width:100%;
	overflow:hidden;
	margin:0;
}
#content .results .main-item .info dl dt{
	float:left;
	clear:left;
	padding:0 3px 0 0;
}
#content .results .main-item .info dl dd{margin:0;}
/* paging */
.paging{
	padding:3px 0 0;	margin:0 0 22px;	list-style:none;
	height:1%;
	text-align:right;
	vertical-align:middle;
	color:#daae04;
	font-size:0;
	line-height:0;
}
.paging li{
	display:inline-block;
	vertical-align:middle;
	padding:0 0 2px 14px;
	font-size:15px;
	line-height:20px;
}
.paging li strong{font-size:17px;}
.paging .next,
.paging .prev{padding-bottom:0;}
.paging .prev a{
	float:left;
	background:url(../images/bg-prev.gif) no-repeat;
	width:100px;
	padding:0 0 0 10px;
	height:39px;
	text-align:center;
	font:19px/35px 'Trebuchet MS', Arial, sans-serif;
	color:#daae04;
	text-transform:uppercase;
}
.paging .next a{
	float:left;
	background:url(../images/bg-next.gif) no-repeat;
	width:73px;
	height:39px;
	text-align:center;
	font:19px/35px 'Trebuchet MS', Arial, sans-serif;
	color:#daae04;
	text-transform:uppercase;
}
.paging .next a:hover,
.paging .prev a:hover{
	background-position:0 -39px;
	color:#add960;
	text-decoration:none;
}